.home-intro {
    background-image: url('../../img/banner/bannerHome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 936px;
    color: var(--primary-white);
    padding-left: 100px;
}

.home-intro .intro-info {
    margin: auto 0;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.home-intro .intro-info .intro-info-title {
    font-size: 48px;
    font-weight: 700;
}

.home-intro .intro-info .intro-info-description {
    font-size: 24px;
    font-weight: 400;
    margin-top: 24px;
}

.home-intro .intro-info .intro-info-action {
    display: flex;
    margin-top: 24px;
}

@media screen and (max-width: 1024px) {
    .home-intro {
        padding: 0 20px;
    }
    .home-intro .intro-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .home-intro .intro-info .intro-info-title {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
    .home-intro .intro-info .intro-info-description {
        font-size: 16px;
        font-weight: 400;
        margin-top: 24px;
        text-align: center;
    }
    
    .home-intro .intro-info .intro-info-action {
        display: flex;
        margin-top: 16px;
    }
}

@media screen and (max-width: 470px) {
    .home-intro .intro-info .intro-info-action {
        display: flex;
        flex-direction: column;
    }
    .home-intro .intro-info .intro-info-action .btn {
        margin-top: 12px;
        margin-right: 0;
    }
}