.footer-brand {
    text-align: center;
}

.footer-brand img {
    width: 100px;
}

.footer-brand .brand-name {
    font-size: 32px;
    font-weight: 700;
}

.footer-brand .brand-slogan {
    font-size: 16px;
    font-weight: 500;
}