.home-product .card-home-product{
    background: var(--primary-white);
    border-radius: 12px;
    padding: 8px;
    box-sizing: border-box;
    margin: 20px;
}
.home-product .products {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.home-product a {
    color: var(--primary-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.home-product .card-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.home-product .card-description {
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
}

@media screen and (min-width: 1336px) {
    .home-product .card-home-product{
        width: 360px;
    }
    
    .home-product .card-home-product img{
        width: 360px;
        height: 313px;
    }
    
}

@media screen and (max-width: 1335px) {
    .home-product .card-home-product{
        width: 300px;
        margin: 10px;
    }
    
    .home-product .card-home-product img{
        width: 300px;
        height: 253px;
    }

    .home-product .card-description {
        margin: 12px;
    }
}

@media screen and (max-width: 1070px) {
    .home-product .products {
        width: 100%;
    }
    .home-product .card-home-product{
        width: 260px;
        padding: 12px;
    }
    
    .home-product .card-home-product img{
        width: 260px;
        height: 213px;
    }

    .home-product .card-title {
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .home-product .card-description {
        font-size: 12px;
        font-weight: 500;
    }
    
}