@import url(./card-home-product.css);

.home-product {
    background: var(--primary-black);
    color: var(--primary-white);
    padding: 100px 62px;
}

.home-product-title {
    font-size: 48px;
    font-weight: 700;
    background: var(--gradient-golden) left bottom no-repeat;
    background-size: 100% 4px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 28px;
}

.home-product-description {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

@media screen and (max-width: 1335px) {
    .home-product {
        padding: 50px 10px;
    }

    .home-product-title {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
}