.about-us-contact .contact{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 24px;
    padding-bottom: 24px;
}
.about-us-contact .card-contact{
    padding: 40px;
    box-sizing: border-box;
    background: linear-gradient(130.51deg, #FFE600 15.72%, #EB9400 84.94%);
    border-radius: 15px;
    
}
.about-us-contact .card-contact-title{
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}

.about-us-contact .btn-contact{
    color: white;
    background-color: black;
    padding: 10px 50px;
    border-radius: 60px;
    
}

@media screen and (max-width: 500px) {
    .about-us-contact .card-contact {
        width: 250px;
        margin: 0 auto;
    }

    .about-us-contact .card-contact-title {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}