.about-us-leader{
    text-align: center;
}

.category-aboutUs {
    text-align: center;
}

.about-us-leader .leaders {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.about-us-leader .leaders .card{
    max-width: 320px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 18px;
}
.about-us-leader .leaders .card-img{
    border-radius: 15px;
    padding: 4px;
    width: 100%;
}
.about-us-leader .leaders .card-name{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}
.about-us-leader .leaders .card-work{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height:20px;
}
.about-us-leader .leaders .card-description{
    padding: 24px;
    font-size: 16px;
}


@media screen and (max-width: 1420px) {
    .about-us-leader .leaders .card{
        max-width: 250px;
        margin: 12px 8px;
    }

    .about-us-leader .leaders .card-name {
        font-size: 24px;
    }

    .about-us-leader .leaders .card-description{
        padding: 12px;
    }
}

@media screen and (max-width: 500px) {

    .about-us-leader .category-aboutUs {
        font-size: 32px;
    }

    .about-us-leader .leaders .card {
        max-width: 260px;
        box-sizing: border-box;
    }
}