.aboutUs-contact-img{
    background-image: url('../../img/banner/bannerPage.jpg');
    background-size: cover;
    height: 700px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}