.about-us-description {
    max-width: 1420px;
    margin: 0 auto;
}

.about-us-description .title{
    color: white;
    padding: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.about-us-description .about-us{
    color: white;
    padding: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}
.about-us-description .bold-description{
    font-size: 20px;
    color: var(--primary-cta);
}

.about-us-description .image-2 img{
    max-width: 100%;
}

@media screen and (max-width: 1420px) {
    .about-us-description {
        max-width: 900px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0;
    }

    .about-us-description .category-aboutUs {
        font-size: 32px;
    }

    .about-us-description {
        width: 100%;
        padding: 10px;
    }

    .about-us-description * {
        text-align: center;
    }

    .about-us-description .image-2 {
        display: none;
    }
}