<div id="home-des-slogan">
    <div class="home-des-image">
        <div class="des-img">
            <img src="/img/home/des-slogan-img.jpg" alt="">
        </div>
    </div>
    <div class="home-des-content">
        <h1 class="des-slogan-title">MAKE A DIFERENCE</h1>
        <div class="des-slogan-content"><%= slogan %> </div>
        <div class="des-slogan-action btn btn-cta"><a href="#">SEE MORE</a></div>
    </div>
</div>
