<div id="home-count-up">
    <div class="count-up-item count-up-projects">
        <div class="count-value" data-value="1000">0</div>
        <div class="count-title">Projects</div>
    </div>
    <div class="count-up-item count-up-partners">
        <div class="count-value" data-value="500">0</div>
        <div class="count-title">Partners</div>
    </div>
    <div class="count-up-item count-up-customers">
        <div class="count-value" data-value="1000">0</div>
        <div class="count-title">Customers</div>
    </div>
</div>