<div class="home-intro">
    <div class="intro-info">
        <div class="intro-info-title">GPT GROUP GLOBAL PLATFORM TECHNOLOGY</div>
        <div class="intro-info-description">
            <%= introduction %> 
        </div>
        <div class="intro-info-action">
            <div class="btn btn-cta"><a href="#home-des-slogan">SEE MORE</a></div>
            <div class="btn btn-white"><a href="/aboutus">ABOUT US</a></div>
        </div>
    </div>
</div>