<div class="card-project">
    <div class="card-project-content">
        <h1 class="project-content-title">FEATURED PROJECT</h1>
        <div class="project-content-description">Below are some of the outstanding projects we have worked on</div>
    </div>
    <div class="projects">
        <% products.forEach(product => { %>
            <% if (product.projects.length > 0) { %>
                <div class="project-card">
                    <a href="/product/<%= product.id %>/<%= product.projects[0].id %>  ">
                        <div class="project-card-img"><img src="<%= product.projects[0].banner %>" alt=""></div>
                        <div class="project-card-content"><%= product.projects[0].name %> </div>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>    
</div>