<div class="home-news">
    <div class="home-news-intro">
        <h1 class="news-intro-title">WHAT'S NEW FROM US</h1>
        <div class="news-intro-description">Update news  from us every day</div>
    </div>
    <div class="home-card-news">
        <div class="card-news">
            <a href="#">
                <div class="card-news-img"><img src="/img/home/demo-img-card-news.jpg" alt=""></div>
                <div class="card-news-content">
                    <div class="card-news-day">Mar 11, 2022 5:13 am</div>
                    <div class="card-news-title">Title of the new in day</div>
                    <div class="card-new-description">Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec
                        tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero
                        ultrices mollis. In hac habitasse platea dictumst.
                    </div>
                    <div class="news-see-more"><a href="#">SEE MORE</a></div>
                </div>
            </a>
        </div>
        <div class="card-news">
            <a href="#">
                <div class="card-news-img"><img src="/img/home/demo-img-card-news.jpg" alt=""></div>
                <div class="card-news-content">
                    <div class="card-news-day">Mar 11, 2022 5:13 am</div>
                    <div class="card-news-title">Title of the new in day</div>
                    <div class="card-new-description">
                        Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec
                        tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero
                        ultrices mollis. In hac habitasse platea dictumst. 
                    </div>
                    <div class="news-see-more"><a href="#">SEE MORE</a></div>
                </div>
            </a>
        </div>
        <div class="card-news">
            <a href="#">
                <div class="card-news-img"><img src="/img/home/demo-img-card-news.jpg" alt=""></div>
                <div class="card-news-content">
                    <div class="card-news-day">Mar 11, 2022 5:13 am</div>
                    <div class="card-news-title">Title of the new in day</div>
                    <div class="card-new-description">
                        Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec
                        tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero
                        ultrices mollis. In hac habitasse platea dictumst. 
                    </div>
                    <div class="news-see-more"><a href="#">SEE MORE</a></div>
                </div>
            </a>
        </div>
    </div>
</div>