<%- include("../head/head.ejs") %>
    
    <div id="login-form" class="col-md-4 col-sm-5 col-lg-3 col-10">
        <h3>Login Admin</h3>
        <% if (message) { %>
            <div class="alert alert-primary" role="alert">
                <%= message %>
            </div>
        <% } %>
        <form action="/admin/login" method="post">
            <div class="mb-3 column">
                <label for="staticEmail" class="col-md-2 form-label">Username</label>
                <div class="col-12">
                    <input type="text" id="staticEmail" class="form-control" name="username">
                </div>
            </div>
            
            <div class="mb-3 column">
                <label for="inputPassword" class="col-md-2 form-label">Password</label>
                <div class="col-12">
                    <input type="password" id="inputPassword" class="form-control" name="password">
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
<%- include("../tail/tail.ejs") %>  