.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 4px 62px;
    color: var(--primary-white);
    transition: 0.2s ease-in-out;
}

.normal-nav-header {
    background-color: var(--primary-gray);
}

.header-contact {
    display: flex;
    flex-flow: wrap;
}

.header-contact .contact-item {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 40px;
}

.contact-item {
    font-size: 12px;
}

.contact-item .contact-icon img {
    vertical-align: middle;
    width: 16px;
}

.header-contact .contact-item .contact-icon {
    margin-right: 10px;
}

.nav-header .header-social {
    display: flex;
}

.nav-header .header-social .social-icon {
    margin-right: 10px;
}

.nav-header .header-social .social-icon:last-child {
    margin: 0;
}

.social-icon a img {
    vertical-align: middle;
    width: 20px;
}


@media screen and (max-width: 700px) {
    .nav-header {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        padding: 4px 20px;
    }

    .nav-header .header-social {
        margin-top: 8px;
    }    
    
}

@media screen and (max-width: 900px) {
    .nav-header {
        display: none;
    }
}