<div class="gird">
    <h1 class="category-cus">WHAT CUSTOMERS SAID</h2>
    <div class="row-3">
        <div class="">
            <div class="card-said">
                <p class="card-description">“Donec a eros justo. Fusce egestas tristique ultrices. 
                    Nam tempor, augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. 
                    Donec quis erat at libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. 
                    In euismod augue vitae nisi ultricies, non aliquet urna tincidunt.”
                </p>
                <div class="card-infomation">
                    <img src="/img/customer-img-avt.png" alt="" class="avt">
                    <div class="name-infomation">David Elson</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card-said">
                <p class="card-description">“Donec a eros justo. Fusce egestas tristique ultrices. 
                    Nam tempor, augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. 
                    Donec quis erat at libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. 
                    In euismod augue vitae nisi ultricies, non aliquet urna tincidunt.”
                </p>
                <div class="card-infomation">
                    <img src="/img/customer-img-avt.png" alt="" class="avt">
                    <div class="name-infomation">David Elson</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card-said">
                <p class="card-description">“Donec a eros justo. Fusce egestas tristique ultrices. 
                    Nam tempor, augue nec tincidunt molestie, massa nunc varius arcu, at scelerisque elit erat a magna. 
                    Donec quis erat at libero ultrices mollis. In hac habitasse platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. 
                    In euismod augue vitae nisi ultricies, non aliquet urna tincidunt.”
                </p>
                <div class="card-infomation">
                    <img src="/img/customer-img-avt.png" alt="" class="avt">
                    <div class="name-infomation">David Elson</div>
                </div>
            </div>
        </div>
    </div>
</div>