<div class="partners">
    <h1 class="category-cus">FEATURED PARTNER</h1>
    <div class="protential">
        <% partners.forEach(partner => { %>
            <div class="card-partner">
                <a href="#">
                    <img src="<%= partner.logo %> " class="partner-img">
                </a>
            </div>
        <% }) %>
    </div>
</div>