<div class="slide-customer">
    <div class="slide-potenial">
        <h2 class="potenial-title">POTENTIAL CUSTOMERS</h2>
        <div class="image-slider">
            <% customers.forEach(customer => { %>
                <div class="image-slide">
                    <div class="image">          
                        <a href="#"><img src="<%= customer.logo %> " alt=""></a>
                    </div>
                    <h3 class="image-title"><%= customer.name %> </h3>
                </div>
            <% }) %>
        </div>
    </div>
</div>