<div id="content-about-us" class="col-sm-8 col-lg-10">
    <h2>Edit content About Us Page </h2>
    <form action="/admin/aboutus" method="post">
        <div class="mb-3">
            <label class="form-label">Introduction</label>
            <textarea class="form-control" name="introduction" rows="3"><%= introduction %> </textarea>
        </div>

        <div class="dynamic-form mb-3">
            <label class="form-label">Goals</label>
            <div class="group-input" id="goals-group">
                <% goals.forEach(goal => { %>
                    <div class="mb-3">
                        <input class="form-control" name="goals" value="<%= goal %>">
                    </div>
                <% }) %>
            </div>
            <div class="btn btn-primary btn-plus" data-target="#goals-group" data-name="goals"><i class="fa-solid fa-plus"></i></div>
        </div>

        <div class="dynamic-form mb-3">
            <label class="form-label">Value</label>
            <div class="group-input" id="values-group">
                <% values.split(", ").forEach(value => { %>
                    <div class="mb-3">
                        <input class="form-control" name="values" value="<%= value %>">
                    </div>
                <% }) %>
            </div>
            <div class="btn btn-primary btn-plus" data-target="#values-group" data-name="values"><i class="fa-solid fa-plus"></i></div>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>