<div id="content-home" class="col-sm-8 col-lg-10">
    <h2>Edit content Home page</h2>
    <form action="/admin/home" method="post">
        <div class="mb-3">
            <label class="form-label">Introduction</label>
            <textarea class="form-control" name="introduction" rows="3"><%= introduction %></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Slogan</label>
            <textarea class="form-control" name="slogan" rows="3"><%= slogan %> </textarea>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>