<div class="product-detail-contact">
    <div class="contact-left">
        <div class="start-project">Start your project now </div>
        <a href="/contact" class="btn-softWare-contact">Contact us</a>
    </div>
    <div class="contact-right">
        <img src="/img/product-detail-contact.png" alt="" class="img-right">
    </div>
</div>