<div class="features-function">
    <h3 class="title-features">Featured Functions</h3>
    <div class="product_feature">
        <% for( let i = 0; i < feature.length; i++ ) { %>
            <div class="image-item">
                <div class="circle"><%= i + 1 %> </div>
                <div class="image">
                    <div class="ctn-text">
                        <h3><%= feature[i] %></h3>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>