<div class="product-detail-description">
    <h1 class="detail-title"><%= name %> </h1>
    <div class="detail-content">
        <div class="product-title">Difference in products of GPT GROUP</div>
        <div class="product-content">
            <%= description %> 
        </div>
    </div>
    <div class="product-img">
        <img src="/img/aboutUs/aboutUs-2.png" alt="" class="img-description">
    </div>
</div>