*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

a.link, a.link:visited {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

a.link:hover {
    color: #E0DDAA;
}