<div class="products">
    <% if (projects.length > 0) { %>
        <% for(let i = 0; i < projects.length; i++) { %>
            <div class="card-prduct">
                <a href='/product/<%= id %>/<%= projects[i].id %> %> '>
                    <img src="<%= projects[i].banner %> " class="card-product-img">
                    <div class="card-name">
                        <%= projects[i].name %>
                    </div>
                </a>
            </div>
        <% } %> 
    <% } %>
</div>