<div class="nav-product">
    <% for(let i = 0; i < products.length; i++) { %>
        <% if (index === i) { %>
            <div class="nav-item btn-active">
                <a href="/product/<%= products[i].id %>" class="btn-nav-product">
                    <%= products[i].name %> 
                </a>
            </div>
        <% } else { %>
            <div class="nav-item">
                <a href="/product/<%= products[i].id %>" class="btn-nav-product">
                    <%= products[i].name %> 
                </a>
            </div>
        <% } %> 
    <% } %>
</div>