.nav-product{
    width: 100%;
    background-color: #FFAB2D;
    margin-top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    padding: 12px;
}

.nav-item {
    padding: 12px;
    margin: 12px;
}
.btn-nav-rproduct{
    line-height: 36px;
    text-align: center;
}
.nav-item:hover{
    background-color: white;
    border-radius: 10px;
}

.nav-item:hover a {
    color: #FFAB2D;
}
.btn-active{
    background-color: white;
    border-radius: 10px;
}
 a.btn-nav-product {
    color: var(--primary-white);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
}
 .btn-active a {
    color: #FFAB2D;
}


@media screen and (max-width: 800px) {
    .nav-product {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}