<footer id="footer">
    <div class="footer-info">
        <%- include('./footer-brand.ejs') %>
        <%- include('./footer-contact.ejs', { address, email, phone }) %> 
        <%- include('./footer-menu.ejs')  %> 
        <%- include('./footer-facebook.ejs') %> 
    </div>
    <div class="footer-copyright">
        © Copyright by GPT GROUP. All rights reserved.
    </div>
</footer>