<div class="footer-menu">
    <div class="menu-title"><h4>Menu</h4></div>
    <div class="menu-item"><a href="/aboutus" rel="noopener noreferrer">About us</a></div>
    <div class="menu-item"><a href="/product" rel="noopener noreferrer">Products</a></div>
    <div class="menu-item"><a href="/customer" rel="noopener noreferrer">Customers</a></div>
    <div class="menu-item"><a href="/contact" rel="noopener noreferrer">Contact</a></div>
</div>