<div class="footer-contact">
    <div class="contact-title"><h4>Contact Information</h4></div>
    <div class="contact-address contact-item">
        <span class="contact-icon"><img src="/icon/ci_location.svg" alt="address gpt group"></span>
        <span class="contact-content">Address: <%= address %> </span>
    </div>
    <div class="contact-email contact-item">
        <span class="contact-icon"><img src="/icon/email.svg" alt="address gpt group"></span>
        <span class="contact-content">Email: <%= email %> </span>
    </div>
    <div class="contact-phone contact-item">
        <span class="contact-icon"><img src="/icon/phone-voice.svg" alt="address gpt group"></span>
        <span class="contact-content">Phone Number: <%= phone %> </span>
    </div>
</div>