<div class="footer-brand">
    <div class="brand-logo"><img src="/img/logo/logo.png" alt="logo gpt group"></div>
    <div class="brand-name">GPT GROUP</div>
    <div class="brand-slogan">MAKE A DIFFERENCE</div>
</div>