.btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cta {
    background: var(--primary-cta);
    margin-right: 28px;
    transition: 0.2s;
}

.btn-cta:hover {
    background: #eb95009a;
}

.btn-white {
    background: var(--primary-white);
    transition: 0.2s;
}

.btn-white:hover {
    background: #ffffff9a;
}

.btn-white a {
    color: var(--primary-black);
}