<div class="about-us-contact">
    <div class="contact">
        <div class="card-contact">
            <div class="card-contact-title">
                Please contact us immediately for detailed advice or information support about the product you are interested in
            </div>
            <div class="card-copntacct-btn">
                <a href="/contact" class="btn-contact">Contact</a>
            </div>
        </div>
    </div>
</div>