<div class="about-us-description">
    <h1 class="category-aboutUs">WHO WE ARE</h1>
    <div class="title">GPT GROUP - Global Platform Technology</div>
    <div class="about-us">
        <p><%= introduction %> <br>
            <%= goals[1] %> 
        </p>
    </div>
    <br>
    <div class="title">Our core valsues</div>
    <p class="about-us">Based on our core values of
        <span class="bold-description"><%= values %> </span>
       for people and are part of everything we do.<br>
       They relate to all our business activities and define the behavior anticipated by every employee.<br>
       Our people include a range of professional qualifications offer outstanding expertise, experience, and
       superior client-driven top talent with an insight into agility, efficiency, and consistency. We value
       ourpeople, encourage their development, and reward their performance.</p>
    <div class="image-2">
        <img src="/img/aboutUs/aboutUs-2.png">
    </div>
</div>