<div id="content-addnew-product" class="col-sm-8 col-lg-10 mt-5 mb-5">
    <h2>Create new product </h2>
    <form action="/admin/product/project" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <div class="mb-2">
                <label for="Image" class="form-label">Banner</label>
                <input class="form-control" type="file" id="formFile" onchange="preview()" name="file" data-focus="add-product">
                <div onclick="clearImage()" class="btn btn-primary mt-3">Click me</div>
            </div>
            <img id="add-product" src="" class="img-fluid" />
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" name="name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" name="description" rows="3" required></textarea>
        </div>
        <div class="dynamic-form mb-3">
            <label class="form-label">Features</label>
            <div class="group-input" id="features-group">
                <div class="mb-3">
                    <input class="form-control" name="feature">
                </div>
            </div>
            <div class="btn btn-primary btn-plus" data-target="#features-group" data-name="feature"><i class="fa-solid fa-plus"></i></div>
        </div>

        <div class="dynamic-form mb-3">
            <label class="form-label">Utilities</label>
            <div class="group-input" id="utilities-group">
                <div class="mb-3">
                    <input class="form-control" name="utility">
                </div>
            </div>
            <div class="btn btn-primary btn-plus" data-target="#utilities-group" data-name="utility"><i class="fa-solid fa-plus"></i></div>
        </div>

        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="productID" required>
                <option value="<%= products[0].id %>" selected><h3>Choose Category</h3></option>
                <% products.forEach(product => { %>
                    <option value="<%= product.id %> "><%= product.name %> </option>
                <% }) %>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>