<%- include("../head/head.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <%- include("../common/menu/index.ejs") %>
            <%- include ("./content/index.ejs", {customers}) %> 
        </div> 
    </div>
    <script src="/javascript/admin/index.js"></script>
<%- include("../tail/tail.ejs") %>  